:root
{
    --colorTextos: #49454567;
}

*,
::before,
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Gill Sans", sans-serif;
    background-image: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);

    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    text-align: center;
    font-weight: 700;
    padding: 2%;
}

h3
{
    text-align: center;
    font-weight: 600; 
    padding: 2%;
}

form
{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
    border-radius: 10px;
}

form .grupo
{
    position: relative;
    margin: 45px;
}

input
{
     background-image: none;
     color: #c6c6c6;
     font-size: 30px;
     padding: 10px 10px 10px 5px;
     display: block;
     width: 100%;
     border: none;
     border-bottom: 1px solid var(--colorTextos);
}

input:focus
{
    outline: none;
    color: rgb(94, 93,93)
}

label
{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5 ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label
{
    top: -14px;
    font-size: 12px;
    color: #243b6c;
}

.barra
{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before
{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background-color: #0093E9;
    background-image: linear-gradient(357deg, #0093E9 0%, #80D0C7 100%);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before
{
    width: 100%;
}

.warnings
{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #000;
    padding-top: 20px;
}

button
{
    font-family: 'roboto';
    background: #0093E9;
    background-image: linear-gradient(357deg, #0093E9 0%, #80D0C7 100%);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color:#fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px)
{
    form{
        width: 80%;
    }
}